* {
    margin: 0;
    padding: 0;
    }

    body {
        font-family: 'Open Sans', sans-serif;
    }
    
    .dada {
        height: 350vh;
        width: 100vw;
        /* background-color: red; */
    }
    
    .top {
        height: 10vh;
        width: 100vw;
        /* background-color: black; */
        display: flex;
    }
    
    .companyL{
        height: 100%;
        width: 25%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: chartreuse; */
    }
    
    .first-image {
        height: 60px;
        width: 150px;
        mix-blend-mode: multiply;
    }
    
    
    .divname {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .name{
        margin-top: 16px; 
        font-family: “Cormorant Garamond”;
        font-size: 36px;
        font-style: normal;
         font-weight: 400; 
        letter-spacing: 0em;
        text-transform: none;
        color: gray; 
    }
    
    .menu{
        /* background-color: brown; */
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-around; 
    }
    
    .R{
        height: 100%;
        width: 25%;
        /* background-color: royalblue; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .J {
        height: 100%;
        width: 25%;  
        /* background-color:burlywood; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .C{
        height: 100%;
        width: 25%;
        /* background-color:cornflowerblue ; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .second-image {
        height: 100px;
        width: 80px;
    }
    .middle {
        height: 200vh;
        width: 100vw;
    }
    
    .title{
    height: 30%;
    width: 100%;
    }
    
    .headers{
        height: 55%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .G{
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: end;
        margin-top: 16px; 
        font-family: “Cormorant Garamond”;
        font-size: 36px;
        font-style: normal;
         font-weight: 400; 
        letter-spacing: 0em;
        text-transform: none;
        color: gray; 
    }
    
    
    
    .A{
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: end;
        margin-top: 16px; 
        font-family: “Cormorant Garamond”;
        font-size: 26px;
        font-style: normal;
         font-weight: 400; 
        letter-spacing: 0em;
        text-transform: none;
        color: gray; 
    }
    
    .quote {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    }
    
    .box {
        height: 70%;
        width: 100%;
    }
    
    .SPC{
     height: 15%;
     width:100% ;
     display: flex;
     justify-content: center;
     align-items: center;
    }

    .COTG{
        margin-top: 16px; 
        font-family: “Cormorant Garamond”;
        font-size: 36px;
        font-style: normal;
         font-weight: 400; 
        letter-spacing: 0em;
        text-transform: none;
        color: black; 
    }

    .COA{
        height: 85%;
        width:100% ;
    }
    .control-1{
     height: 35%;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
    }
    
    
    
    
    .ded {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 40px;
    border: 4px solid black;
    background-color: gray;
    }
    .res {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 40px;
    border: 4px solid black;
    background-color: gray;
    }
    .lead {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 40px;
    border: 4px solid black;
    background-color: gray;
    }
    
    
    .control-2{
        height: 65%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .control-2-2 {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .pass {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 40px;
    border: 4px solid black;
    background-color: gray;
    }
    .inno {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 40px;
    border: 4px solid black;
    background-color: gray;
    }
    .vis {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 40px;
    border: 4px solid black;
    background-color: gray;
    }
    
    .control-2-1 {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fai {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 40px;
    border: 4px solid black;
    background-color: gray;
    }
    
    
    .bottom {
        height: 140vh;
        width: 100vw;
    }

    .contactUS {
    height: 70%;
    width: 100%;
    display: flex;
  }

  .CH {
   height: 100%;
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

 .T-of-CH{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;  
    font-weight: 700; 
}
 .P-of-CH{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 }

 .CF {
   height: 100%;
   width: 50%;
  }

  .form-contact{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .Form-body{
    height: 70%;
    width: 65%;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .form-body-title{
    height: 20%;
    width: 100%;
    padding-top: 20px;
  }
.form-body-title h2{ /*this is the title style*/
    font-weight: 600;
    font-size: 40px;
    color: grey;

}

.form-body-title hr{ /*this is the line of the title*/
    border: none;
    border-radius:10px ;
    width: 120px;
    height: 5px;
    background-color: blueviolet;
}

.Con-input { /*these are the boxes ex- name,email,message*/
    width:400px ;
    height: 50px;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 50px;
    padding-left: 25px;

}

.Form-body textarea{/*this is message box in form*/
    height: 140px;
    border-radius: 20px;
    padding-top: 15px;
}

.Con-input:focus{/*this is for when you touch the box of the form*/
    border: 2px solid black;
}

.Con-input::placeholder{ /*this is for the text insidde the box*/
    color: #a9a9a9;
}


  .footer{
    height: 30%;
    width: 100%;
    background-color: blueviolet;
  }
  .footer-div {
   height: 30%;
   width: 100%;
   background-color: aqua;
  }
    
    
    